Aafc/ f4bDd3wnjQL9uKma.json
{"createdAt":"2025-01-30T17:12:15.315Z","updatedAt":"2025-01-31T03:18:19.819Z","id":"f4bDd3wnjQL9uKma","name":"01_Meetings","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"296caa6c-a4ee-487c-a9d3-07bdf73b4ca4","name":"member_id","value":"={{ $json.member_id }}","type":"number"},{"id":"9bf41988-69fc-4327-b6ff-3da6546708af","name":"whatsapp_id","value":"={{ $json.whatsapp_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2600,-1560],"id":"b50ccb49-ba0e-42ce-9648-889d0be9907b","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"member_id","type":"number"},{"name":"whatsapp_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2760,-1560],"id":"8fa8d2bb-07a2-43dc-aa48-ade142e301da","name":"Workflow Input Trigger"},{"parameters":{"promptType":"define","text":"Aqui o usuario pode tirar duvidas sobre eventos ou confirmar a participação quando.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1680,-1360],"id":"eb2ef338-9fb6-432a-981b-28dd3e119972","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1700,-1120],"id":"5d7ad5c7-2229-4663-a0b0-3521ddec9112","name":"Groq Chat Model","credentials":{"groqApi":{"id":"59zGAKWESQQv5Lz7","name":"Groq account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.whatsapp_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1540,-1120],"id":"913f72ba-8f47-45a3-b82a-b745ebde95ca","name":"Window Buffer Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1aab0a9e-541a-4ba6-99c9-c658e2e5158b","leftValue":"={{ $json.member_id }}","rightValue":"","operator":{"type":"number","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2440,-1480],"id":"9102dd75-e7f1-469f-b3da-102608ad2953","name":"member_id isNull"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed07380c-0945-4f78-9867-7f57bb03cd95","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2080,-1340],"id":"c84372c6-c9f2-4a13-8644-6fdccaac8682","name":"meeting confirm isNull"},{"parameters":{"operation":"get","tableId":"v_meetings_members","filters":{"conditions":[{"keyName":"=member_id","keyValue":"={{ $json.member_id }}"},{"keyName":"invited","keyValue":"1"},{"keyName":"confirmed","keyValue":"0"},{"keyName":"participated","keyValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2260,-1340],"id":"99eb1e31-2ce5-4388-8c82-ee6d4fb1e630","name":"Get Meeting Confirm","credentials":{"supabaseApi":{"id":"GqXpDziVM7tCulyt","name":"SB AAFC Siscad"}}},{"parameters":{"operation":"getAll","tableId":"v_meetings","filters":{"conditions":[{"keyName":"status_id","condition":"eq","keyValue":"2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1880,-1500],"id":"b891b64b-f5f4-4db6-bea4-eb75f84aedeb","name":"Get All Meetings Approved","credentials":{"supabaseApi":{"id":"GqXpDziVM7tCulyt","name":"SB AAFC Siscad"}}}],"connections":{"Edit Fields":{"main":[[{"node":"member_id isNull","type":"main","index":0}]]},"Workflow Input Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"member_id isNull":{"main":[[{"node":"Get All Meetings Approved","type":"main","index":0}],[{"node":"Get Meeting Confirm","type":"main","index":0}]]},"meeting confirm isNull":{"main":[[{"node":"Get All Meetings Approved","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Get Meeting Confirm":{"main":[[{"node":"meeting confirm isNull","type":"main","index":0}]]},"Get All Meetings Approved":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"038c0245-e472-4d57-b7a8-5398b9176470","triggerCount":0,"tags":[]}