Aafc/ wbxHN2UwNjmDOH5r.json
{"createdAt":"2025-01-31T16:48:27.681Z","updatedAt":"2025-02-01T00:51:10.677Z","id":"wbxHN2UwNjmDOH5r","name":"siscadMeetingMembersWhatsapp","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"siscadMeetingMembersWhatsapp","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-980,-540],"id":"245b10d0-9f65-4792-8055-a9917927cd24","name":"Webhook","webhookId":"bc4ccb54-59b0-46ef-bb42-659465642af2"},{"parameters":{"assignments":{"assignments":[{"id":"75786bc2-c090-4da4-bbfb-4e28d0c5e4a6","name":"evo_api_url","value":"={{ $json.body.evo_api_url }}","type":"string"},{"id":"fe9646cf-7451-4be4-b235-cb63ca3a5efe","name":"evo_instance_api_key","value":"={{ $json.body.evo_instance_api_key }}","type":"string"},{"id":"b5b08940-a4d2-4e24-9f4e-42caafd53fec","name":"evo_instance_name","value":"={{ $json.body.evo_instance_name }}","type":"string"},{"id":"62bc90ca-e8ab-45fe-a4fe-807d8b79cc2a","name":"msg","value":"={{ $json.body.msg }}","type":"string"},{"id":"85452ede-1cdd-4ab3-bd9b-4e9c4b6c7609","name":"meeting_id","value":"={{ $json.body.meeting_id }}","type":"number"},{"id":"0c1d7a74-435a-43ff-80fb-97cf6ea056a2","name":"user_id","value":"={{ $json.body.user_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,-540],"id":"f9e5fe68-9cd7-4d85-bbe6-8622a63e908a","name":"Edit Fields"},{"parameters":{"operation":"getAll","tableId":"meetings_members","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-540,-540],"id":"439b8119-c1d1-4f66-8bb5-0ec89e2da24b","name":"Supabase","alwaysOutputData":false,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"supabaseApi":{"id":"GqXpDziVM7tCulyt","name":"SB AAFC Siscad"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-340,-520],"id":"8628ccad-8279-4d69-a1b8-51de82b837a5","name":"Loop Over Items"},{"parameters":{"operation":"update","tableId":"meetings_members","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"invited","fieldValue":"1"},{"fieldId":"invitation_sent_at","fieldValue":"now()"},{"fieldId":"invitation_ready","fieldValue":"0"},{"fieldId":"invitation_sent_user_id","fieldValue":"={{ $json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,-400],"id":"fb99df24-5a29-4054-98fa-f3fe16fe3df5","name":"Supabase1","credentials":{"supabaseApi":{"id":"GqXpDziVM7tCulyt","name":"SB AAFC Siscad"}}},{"parameters":{"operation":"update","tableId":"meetings","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.meeting_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"is_invitation_sending","fieldValue":"FALSE"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[40,-560],"id":"1660956f-4970-42b9-9619-de2508448d77","name":"Supabase2","credentials":{"supabaseApi":{"id":"GqXpDziVM7tCulyt","name":"SB AAFC Siscad"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6361a8cc-f675-40e4-99c1-9db5955e0109","leftValue":"={{ $json.invitation_ready }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-140,-440],"id":"e674ce07-9107-4ae3-bd89-f16696a58b79","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Supabase2","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Supabase1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"496811f3-2e2f-4fe3-aa83-46bd5840e29d","triggerCount":1,"tags":[]}