backup/ a9yVd18jyHLgsc5j.json
{
  "data": {
    "createdAt": "2025-02-04T19:17:45.510Z",
    "updatedAt": "2025-02-04T19:40:13.525Z",
    "id": "a9yVd18jyHLgsc5j",
    "name": "Youtube",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.data }}",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "=file_id",
                  "value": "={{ $('Set File ID').item.json.file_id }}"
                }
              ]
            }
          }
        },
        "id": "f7b3efe2-8b65-4297-bf76-3d3fa33fcc45",
        "name": "Default Data Loader",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          0,
          580
        ]
      },
      {
        "parameters": {
          "name": "docs_about_company",
          "description": "Contains all the user's documents that you can check for context to answer user questions."
        },
        "id": "6c63f8a6-a2cc-4215-b514-285939381fd8",
        "name": "Retrieve Documents",
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1,
        "position": [
          -320,
          -160
        ]
      },
      {
        "parameters": {
          "content": "## Agent Tools for RAG",
          "height": 528.85546469693,
          "width": 583.4552380860637,
          "color": 4
        },
        "id": "0f9afcd1-8167-4b37-a605-e2f2eef102a5",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -540,
          -260
        ]
      },
      {
        "parameters": {
          "content": "## Tool to Add a Google Drive File to Vector DB",
          "height": 671.8877842322804,
          "width": 2070.8894079025763,
          "color": 5
        },
        "id": "b0be2a97-abec-449e-959c-a226d15e7d14",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1760,
          280
        ]
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Set File ID').item.json.file_id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain"
              }
            }
          }
        },
        "id": "e6cfa63d-37d2-463f-82e7-9a338b7d6e32",
        "name": "Download File",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -980,
          460
        ],
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "zE8wfzsT5N5GfLnP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK",
            "mode": "list",
            "cachedResultName": "como_funciona_a_aafc",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK"
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "6fe19388-29e8-48b2-a7a2-c1691462cf77",
        "name": "File Created",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -1700,
          360
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "zE8wfzsT5N5GfLnP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK",
            "mode": "list",
            "cachedResultName": "como_funciona_a_aafc",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK"
          },
          "event": "fileUpdated",
          "options": {}
        },
        "id": "439be030-d05c-4b48-affd-786a467b88fc",
        "name": "File Updated",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -1700,
          580
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "zE8wfzsT5N5GfLnP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "3d4e4d2b-4f22-46d3-8846-412ddc75823e",
        "name": "Recursive Character Text Splitter",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          0,
          780
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "docs_about_company",
          "filterType": "string",
          "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
        },
        "id": "4a7a4e0b-9c62-428d-89a3-be6069942a70",
        "name": "Delete Old Doc Rows",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1180,
          460
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "gB9CfngJMxArnys7",
            "name": "SB AAFC Automation"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
                "name": "file_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "e61b6073-719f-4891-ac39-e1ed959ccea0",
                "name": "file_type",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "380e05ee-67f6-4d13-9d83-80e04d48c35f",
        "name": "Set File ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1360,
          460
        ]
      },
      {
        "parameters": {
          "content": "## RAG AI Agent with Chat Interface",
          "height": 525,
          "width": 673
        },
        "id": "05422426-f56c-4b21-8c59-def5a36b819c",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1240,
          -280
        ]
      },
      {
        "parameters": {
          "public": true,
          "options": {}
        },
        "id": "5527a66f-1e3d-4d21-91c6-d793a4d4fc45",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          -1180,
          -120
        ],
        "webhookId": "e985d15f-b2f6-456d-be15-97e0b1544a40"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('When chat message received').item.json.chatInput }}",
          "options": {
            "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself."
          }
        },
        "id": "a68426c2-e0b3-47d5-801d-615cb2d1b9c6",
        "name": "RAG AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          -860,
          -120
        ]
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "docs_about_company",
            "mode": "list",
            "cachedResultName": "docs_about_company"
          },
          "options": {
            "queryName": "match_docs_about_company"
          }
        },
        "id": "3d23fc58-5be7-4390-b7b3-e0a7ac9a7221",
        "name": "Insert into Supabase Vectorstore",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          -60,
          360
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "gB9CfngJMxArnys7",
            "name": "SB AAFC Automation"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -980,
          100
        ],
        "id": "11d78028-d63b-462f-9e61-fd10f45c7ee5",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "PoOUQmpuFM2NB1Ey",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          -780,
          100
        ],
        "id": "cdbbed40-d0f0-4d7a-a785-01156217ebfe",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "IhdqfYDkSfzL41zt",
            "name": "SB Automation"
          }
        }
      },
      {
        "parameters": {
          "tableName": {
            "__rl": true,
            "value": "docs_about_company",
            "mode": "list",
            "cachedResultName": "docs_about_company"
          },
          "options": {
            "queryName": "match_docs_about_company"
          }
        },
        "id": "4a910e10-07d4-4cd2-a328-d1ad766dd634",
        "name": "Supabase Vector Store",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          -480,
          20
        ],
        "credentials": {
          "supabaseApi": {
            "id": "gB9CfngJMxArnys7",
            "name": "SB AAFC Automation"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -180,
          60
        ],
        "id": "a25d40c5-4ac9-468a-9fcf-d02b48ab1a17",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "PoOUQmpuFM2NB1Ey",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -400,
          240
        ],
        "id": "dd2ec08c-6913-4471-85cb-96f37b932b79",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "PoOUQmpuFM2NB1Ey",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -160,
          580
        ],
        "id": "9fc69ddd-89a1-46b9-b5d1-f95482449224",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "PoOUQmpuFM2NB1Ey",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -460,
          480
        ],
        "id": "dafe9763-8337-4273-9b2a-e2fa5d446c51",
        "name": "Extract from File",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -480,
          300
        ],
        "id": "15b366ad-5872-4b5a-9055-3012c35466f9",
        "name": "Extract from File1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "application/pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PDF"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "47c68362-267e-404f-bba6-e7c5f816cd31",
                      "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "XLS"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "593fb2c9-4763-4fec-8e9e-718f3399bea7",
                      "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "application/vnd.google-apps.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TXT"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d57be728-99ab-46d6-b528-8ee32d15f46b",
                      "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "application/vnd.ms-word",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "WORD"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "allMatchingOutputs": false
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -800,
          460
        ],
        "id": "3d2135a7-8a4d-4fec-a251-abdaf3b70cb1",
        "name": "Switch"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -620,
          380
        ],
        "id": "de70086a-d579-4b19-8b8e-eb086f0193a7",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1,
        "position": [
          -280,
          360
        ],
        "id": "f961ed79-4fa1-49ef-b8bb-d5ec5d9676e2",
        "name": "Summarize"
      }
    ],
    "connections": {
      "Retrieve Documents": {
        "ai_tool": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Created": {
        "main": [
          [
            {
              "node": "Set File ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Insert into Supabase Vectorstore",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Doc Rows": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set File ID": {
        "main": [
          [
            {
              "node": "Delete Old Doc Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Updated": {
        "main": [
          [
            {
              "node": "Set File ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "RAG AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Retrieve Documents",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Retrieve Documents",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Insert into Supabase Vectorstore",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Extract from File1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File1": {
        "main": [
          [
            {
              "node": "Insert into Supabase Vectorstore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Insert into Supabase Vectorstore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Insert into Supabase Vectorstore",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "aeef9564-baa5-45cd-8b49-dfd48026b3b7",
    "triggerCount": 0,
    "tags": []
  }
}