backup/ dfVeg7Wxx2wy1Fhk.json
{
  "data": {
    "createdAt": "2025-02-03T01:06:26.708Z",
    "updatedAt": "2025-02-06T11:34:34.572Z",
    "id": "dfVeg7Wxx2wy1Fhk",
    "name": "AAFC_Base",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          -2240,
          60
        ],
        "id": "bc120ec3-9893-4cb4-8e79-da4eb9c1b837",
        "name": "When chat message received",
        "webhookId": "ac796740-cf29-4be9-a516-5f31546acbdb"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93296fd3-2dfb-4b6e-9d8a-944838a1517f",
                "name": "file_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "81b98d63-cf55-4844-8661-1ca713c2d3a7",
                "name": "file_type",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "include": "selected",
          "includeFields": "vector_table_name",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2040,
          -540
        ],
        "id": "447a4f50-e88b-42e2-bec7-e2647dd88ce4",
        "name": "Edit Fields",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Edit Fields').item.json.file_id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain",
                "drawingsToFormat": "image/png"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1680,
          -540
        ],
        "id": "09b2a0a6-aab5-4693-863d-8cad528cc51d",
        "name": "Google Drive",
        "alwaysOutputData": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "zE8wfzsT5N5GfLnP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1060,
          -400
        ],
        "id": "25a0c590-896f-49cf-93f2-967d8d026ef4",
        "name": "Extract from File",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "docs_about_company",
            "mode": "list",
            "cachedResultName": "docs_about_company"
          },
          "options": {
            "queryName": "match_docs_about_company"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          -660,
          -520
        ],
        "id": "df10bd08-e086-4bd5-91b4-9daeb3b4cb47",
        "name": "Supabase Vector Store",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "gB9CfngJMxArnys7",
            "name": "SB AAFC Automation"
          }
        }
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "file_id",
                  "value": "={{ $('Edit Fields').item.json.file_id }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          -580,
          -340
        ],
        "id": "0a00ec93-5261-4a80-b406-60d04b5d852a",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          -540,
          -180
        ],
        "id": "77128f8a-1fd9-46bd-afda-d1c42be03bd6",
        "name": "Recursive Character Text Splitter"
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "docs_about_company",
          "filterType": "string",
          "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1860,
          -540
        ],
        "id": "70f8c972-d0da-46ec-bd34-ab94dafb39e3",
        "name": "Supabase",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "gB9CfngJMxArnys7",
            "name": "SB AAFC Automation"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK",
            "mode": "list",
            "cachedResultName": "como_funciona_a_aafc",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -2240,
          -640
        ],
        "id": "b8d8216a-de82-4c0f-b954-d043abe4c6c7",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "zE8wfzsT5N5GfLnP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK",
            "mode": "list",
            "cachedResultName": "como_funciona_a_aafc",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1q06O3A3lLnhy2JSen9PRFwXLhNurZJFK"
          },
          "event": "fileUpdated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -2240,
          -440
        ],
        "id": "feb52e1d-d68f-43cf-a107-d3dafbf790aa",
        "name": "Google Drive Trigger1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "zE8wfzsT5N5GfLnP",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1060,
          -660
        ],
        "id": "cf2d168a-770f-4b4f-afe2-53ab6e345694",
        "name": "Extract from File1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                      "rightValue": "application/pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PDF"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "47c68362-267e-404f-bba6-e7c5f816cd31",
                      "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "XLS"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "593fb2c9-4763-4fec-8e9e-718f3399bea7",
                      "leftValue": "={{ $('Edit Fields').item.json.file_type }}",
                      "rightValue": "application/vnd.google-apps.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TXT"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d57be728-99ab-46d6-b528-8ee32d15f46b",
                      "leftValue": "{{ $('Edit Fields').item.json.file_type }}",
                      "rightValue": "application/vnd.ms-word",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "WORD"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "allMatchingOutputs": false
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -1480,
          -580
        ],
        "id": "da721b93-c024-4243-888c-6c857e3dc814",
        "name": "Switch"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1180,
          -520
        ],
        "id": "52ba3f4b-2b10-40aa-bf49-49a18fa307e1",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1,
        "position": [
          -940,
          -520
        ],
        "id": "03a6bef3-ab1d-49c3-a7e2-0a3ff92ee0bf",
        "name": "Summarize"
      },
      {
        "parameters": {
          "modelName": "embed-multilingual-v2.0"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
        "typeVersion": 1,
        "position": [
          -740,
          -320
        ],
        "id": "1411bb41-e075-48f4-b2f8-b1b245b19b8f",
        "name": "Embeddings Cohere",
        "credentials": {
          "cohereApi": {
            "id": "qs6y2MzIaFpWJjTF",
            "name": "CohereApi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "93296fd3-2dfb-4b6e-9d8a-944838a1517f",
                "name": "file_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "81b98d63-cf55-4844-8661-1ca713c2d3a7",
                "name": "file_type",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "include": "selected",
          "includeFields": "vector_table_name",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2040,
          -120
        ],
        "id": "ab4655b7-5273-438b-a4b8-34533cc96639",
        "name": "Edit Fields1",
        "alwaysOutputData": true,
        "disabled": true
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "docs_about_company",
          "filterType": "string",
          "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1860,
          -120
        ],
        "id": "fe9fa7e7-eaa1-4eff-b54c-7ff7a85e9ecc",
        "name": "Supabase1",
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "gB9CfngJMxArnys7",
            "name": "SB AAFC Automation"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1KbKMN0CcRjCGMaRfetoQmcrTt9zVWybU",
            "mode": "list",
            "cachedResultName": "lixeira",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1KbKMN0CcRjCGMaRfetoQmcrTt9zVWybU"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -2240,
          -120
        ],
        "id": "2289988f-a478-4448-9fe7-b4a864c195f6",
        "name": "Google Drive Trigger2",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "zE8wfzsT5N5GfLnP",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
        "typeVersion": 1.4,
        "position": [
          -2060,
          60
        ],
        "id": "7951b582-4644-4cc8-bdd2-2d7ec140b03e",
        "name": "Question and Answer Chain"
      },
      {
        "parameters": {
          "modelName": "models/gemini-1.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -2040,
          500
        ],
        "id": "644b55a0-ab50-4bc6-8963-ae5e7bc28742",
        "name": "Google Gemini Chat Model2",
        "credentials": {
          "googlePalmApi": {
            "id": "PoOUQmpuFM2NB1Ey",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "topK": 12
        },
        "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
        "typeVersion": 1,
        "position": [
          -1920,
          240
        ],
        "id": "cb355b4a-0b79-41ed-891a-5fb0401c3b68",
        "name": "Vector Store Retriever"
      },
      {
        "parameters": {
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {
            "queryName": "match_documents"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1,
        "position": [
          -1920,
          380
        ],
        "id": "3f7cc49b-18d7-4376-9ac0-bff8abe83bac",
        "name": "Supabase Vector Store2",
        "credentials": {
          "supabaseApi": {
            "id": "gB9CfngJMxArnys7",
            "name": "SB AAFC Automation"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1860,
          500
        ],
        "id": "430f9a4d-a13e-45d7-bff1-1d48c70c62db",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "PoOUQmpuFM2NB1Ey",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File1": {
        "main": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Extract from File1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store": {
        "main": [
          []
        ]
      },
      "Embeddings Cohere": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Supabase1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger2": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Retriever": {
        "ai_retriever": [
          [
            {
              "node": "Question and Answer Chain",
              "type": "ai_retriever",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store2": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Retriever",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store2",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": {
      "node:Google Drive Trigger": {
        "lastTimeChecked": "2025-02-06T11:33:39Z"
      },
      "node:Google Drive Trigger1": {
        "lastTimeChecked": "2025-02-06T11:33:40Z"
      },
      "node:Google Drive Trigger2": {
        "lastTimeChecked": "2025-02-05T11:18:38Z"
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "38d6dc17-d68a-4b16-ad96-22aa74699fe0",
    "triggerCount": 4,
    "tags": []
  }
}