backup/ j19FWdFm3kYsKAGT.json
{
  "data": {
    "createdAt": "2025-01-27T23:44:30.169Z",
    "updatedAt": "2025-01-30T16:57:24.317Z",
    "id": "j19FWdFm3kYsKAGT",
    "name": "My workflow",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "start",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1060,
          -480
        ],
        "id": "394ef930-a28b-4b16-8d03-888f770463d0",
        "name": "Webhook",
        "webhookId": "f571aab7-d03f-42b0-a1cf-085c6bc5cd08"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b2381e7-2063-40fc-b280-657e54bc184d",
                "name": "message-type",
                "value": "={{ $json.body.data.messageType }}",
                "type": "string"
              },
              {
                "id": "a404146c-5bbf-4e6a-990c-c66dcae96324",
                "name": "client-remotej-id",
                "value": "={{ $json.body.data.key.remoteJid }}",
                "type": "string"
              },
              {
                "id": "633e2e4d-2bea-476f-86f0-b4ae22fe6d7d",
                "name": "message",
                "value": "={{ $json.body.data.message.conversation }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -740,
          -480
        ],
        "id": "4ae4f502-889d-47f0-9d1b-a3daef044f6c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Você é um atendente virtual e seu nome é Carlos. Voc^deve conversar com os usurios em portugues do brasil.\nSeja cordial.",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -80,
          -560
        ],
        "id": "1f01edaf-5009-45d3-aa2b-1ad2feef91f7",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -80,
          -340
        ],
        "id": "85f752c2-d735-4943-818f-fa1250d35ef5",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "PoOUQmpuFM2NB1Ey",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.dateTime",
        "typeVersion": 2,
        "position": [
          -880,
          -480
        ],
        "id": "df7f84b6-8e5d-4d18-b883-cd91bbe08c5c",
        "name": "Date & Time"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://automation-evo.fb66v5.easypanel.host/message/sendText/Aafc",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apiKey",
                "value": "1AB2D3D2FB15-4F69-964E-1313E1B73D80"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $('Edit Fields').item.json['client-remotej-id'] }}"
              },
              {
                "name": "text",
                "value": "={{ $json.output }}"
              },
              {
                "name": "language",
                "value": "\"pt-BR\""
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          280,
          -560
        ],
        "id": "e86353c9-9271-437a-b887-cc1718899f4b",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6f88f1c0-1b65-41b3-97db-9fab453407dc",
                "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -580,
          -480
        ],
        "id": "a83e4505-9958-4978-be59-aaade4068ed0",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -340,
          -560
        ],
        "id": "a2703f7e-8c5c-410c-bebd-c69358822c57",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "meeting-member-confirmation",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -680,
          -40
        ],
        "id": "631ea079-90d9-4023-bac0-5a682d05a930",
        "name": "Webhook1",
        "webhookId": "29f2726e-a422-4971-af2c-a35e612f8b77"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "v_members",
          "limit": 1,
          "filters": {
            "conditions": [
              {
                "keyName": "whatsapp_id",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields').item.json['client-remotej-id'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -360,
          -380
        ],
        "id": "6bfbd458-d1bf-44bd-ad96-749b0fb91d97",
        "name": "Supabase",
        "credentials": {
          "supabaseApi": {
            "id": "GqXpDziVM7tCulyt",
            "name": "SB AAFC Siscad"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -320,
          -80
        ],
        "id": "9b585437-63c0-4d75-8d02-41e8d377e73a",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          40,
          -340
        ],
        "id": "11351e90-ab40-4eea-a1cc-67336497eff9",
        "name": "Window Buffer Memory"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Date & Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Date & Time": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "Edit Fields": [
        {
          "json": {
            "message-type": "conversation",
            "client-remotej-id": "555194080770@s.whatsapp.net",
            "message": "Dhdjf"
          }
        }
      ]
    },
    "versionId": "3df03f21-381c-436c-99bb-7c90ed73e164",
    "triggerCount": 1,
    "tags": []
  }
}