backup/JiX5KTT1iYrcW0g2.json
{
  "createdAt": "2025-02-06T13:58:47.480Z",
  "updatedAt": "2025-02-06T14:10:14.316Z",
  "id": "JiX5KTT1iYrcW0g2",
  "name": "BackupRestoreGithub",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c7b874a2-3e99-475e-bf78-61ea8a840172",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71ca7165-a49c-4f0d-b560-8d9413fe4afa",
              "name": "file",
              "value": "backup/0meHCvIIrWQ9WSdj.json",
              "type": "string"
            },
            {
              "id": "23c1f776-13f4-4318-97c3-e3da32520257",
              "name": "owner",
              "value": "ManusAafc",
              "type": "string"
            },
            {
              "id": "b24be326-36b9-479b-bb21-49b193f4150c",
              "name": "repository",
              "value": "n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "b1c12cf0-ac65-40f7-8099-e573147f5ba6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repository }}",
          "mode": "url"
        },
        "filePath": "={{ $json.file }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "2dbdb4c0-cd5c-4518-aaa6-8f310cd2f360",
      "name": "GitHub",
      "credentials": {
        "githubOAuth2Api": {
          "id": "yHzX1MJBThAxu6RT",
          "name": "ManusAafc GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2ec607c8-6160-4588-aec8-7e878548488c",
  "triggerCount": 0,
  "tags": []
}