backup/JiX5KTT1iYrcW0g2
{
  "createdAt": "2025-02-06T13:58:47.480Z",
  "updatedAt": "2025-02-06T14:35:41.863Z",
  "id": "JiX5KTT1iYrcW0g2",
  "name": "BackupRestoreGithub",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c7b874a2-3e99-475e-bf78-61ea8a840172",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71ca7165-a49c-4f0d-b560-8d9413fe4afa",
              "name": "file",
              "value": "backup/0meHCvIIrWQ9WSdj.json",
              "type": "string"
            },
            {
              "id": "23c1f776-13f4-4318-97c3-e3da32520257",
              "name": "owner",
              "value": "ManusAafc",
              "type": "string"
            },
            {
              "id": "b24be326-36b9-479b-bb21-49b193f4150c",
              "name": "repository",
              "value": "n8n",
              "type": "string"
            },
            {
              "id": "1acf6b7b-bbd1-49a6-bdc7-c213bb5b5470",
              "name": "version",
              "value": "Informar a versao history github",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "b1c12cf0-ac65-40f7-8099-e573147f5ba6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "958886ec-2862-4187-9299-de909d6414b7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ JSON.stringify($json.data) }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "1184b285-4055-40f5-890e-232ebe94a170",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "CJ1s8tWr5r0FyxRe",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repository }}",
          "mode": "name"
        },
        "filePath": "=backup/ {{ $json.file }}",
        "additionalParameters": {
          "reference": "={{ $json.version }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        480,
        -160
      ],
      "id": "09048516-6ed5-4f4f-9f37-6ed33d275b80",
      "name": "Get file",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "yHzX1MJBThAxu6RT",
          "name": "ManusAafc GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3178c774-8d64-42a4-9b6d-2d2fdcd70072",
  "triggerCount": 0,
  "tags": []
}