backup/LLHfbmchm4Rpy3nI.json
{
  "createdAt": "2025-03-04T12:01:11.397Z",
  "updatedAt": "2025-03-04T20:23:35.582Z",
  "id": "LLHfbmchm4Rpy3nI",
  "name": "AAFC_AI_Router",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "Voce é um atendente virtual responsavel por identificar as duvidas dos usuarios e encaminha-los para a área correta da empresa. \nSua lingua é o português do Brasil.\nNão é necessarário a identificacao do usuario.\n\n- Quando tratar de confirmação de participação em eventos, palestras ou encontros, execute a tool \"MeetingConfirm\". Não é necessario a identificação do evento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -780,
        -520
      ],
      "id": "675bea62-89f3-43fa-8b83-34f2771ceae4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.whatsapp_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -700,
        -220
      ],
      "id": "3dcfce4b-83ca-4a37-a113-331cb4974a27",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "IhdqfYDkSfzL41zt",
          "name": "SB Automation"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1240,
        -520
      ],
      "id": "56efd257-87ca-42b8-a3bb-75f65f5dbc2d",
      "name": "Webhook",
      "webhookId": "7fe10f5f-ee29-4b1f-bd4c-0cf10d547ac1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automation-evolution.fb66v5.easypanel.host/message/sendText/AAFC/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "DC12A5DF37DB-4460-99B9-92D82751A117"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.whatsapp_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -520
      ],
      "id": "73aa2274-cb89-41dd-ac6f-7740e6aa6152",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "deepseek-r1-distill-llama-70b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -840,
        -300
      ],
      "id": "adbf5f85-6fe4-4b97-9eda-ac514354604e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "59zGAKWESQQv5Lz7",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f59f2ea7-d104-492e-9c11-471aadf801ae",
              "name": "whatsapp_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "60550733-20a0-4e89-9c5c-4b722c0a81d5",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "5c2de27c-4014-409a-9015-4851b3a682c0",
              "name": "user_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1000,
        -520
      ],
      "id": "461fcf02-17e8-447f-a47f-37ade486653b",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://automation-n8n-editor.fb66v5.easypanel.host/webhook-test/meeting_confirm",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "whatsapp_id",
              "valueProvider": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -560,
        -240
      ],
      "id": "c26e6cd4-a09f-45c4-bd3b-b2b578f169ad",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting_confirm",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        -240
      ],
      "id": "0f53fe2c-d865-41de-87d1-e4db1da38345",
      "name": "wbMeetingConfirm",
      "webhookId": "95755645-56d7-4773-993c-73698e2c6886"
    }
  ],
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "71cd4bb3-9b60-46f2-8960-c37ef1cd8458",
  "triggerCount": 1,
  "tags": []
}