backup/LLHfbmchm4Rpy3nI.json
{
  "createdAt": "2025-03-04T12:01:11.397Z",
  "updatedAt": "2025-03-09T15:35:33.885Z",
  "id": "LLHfbmchm4Rpy3nI",
  "name": "AAFC Multi Agentes",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        -120
      ],
      "id": "15c083d7-6c68-4544-94cf-c6ca4f11fd62",
      "name": "When chat message received",
      "webhookId": "ede5bb34-90b4-4d8c-b401-a155ed48ad34"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -400,
        -120
      ],
      "id": "3126e035-47f2-44cd-8170-98ae774ba407",
      "name": "Chat Memory Manager",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -320,
        180
      ],
      "id": "d568226d-8797-4f16-ad78-02681a4df6a2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "IhdqfYDkSfzL41zt",
          "name": "SB Automation"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.messages.map(item => Object.entries(item).map(([key, value]) => `${key}: ${value}`).join('\\n')).join('\\n') }}\n\nhuman: {{ $('When chat message received').item.json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "Informations",
              "description": "O cliente está na etapa inicial com dúvidas como serviços prestados, endereço, horarios de funcionamento e  demais informações da empresa."
            },
            {
              "category": "MeetingConfirmation",
              "description": "O cliente é um associado que deseja realizar a confirmação de presença em algum evento"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -80,
        -100
      ],
      "id": "0a48863d-95bf-4ba1-b7c4-841af0bee740",
      "name": "Text Classifier",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemPromptTemplate": "Seja cordial.\nSempre referir-se a AAFCorsan.\nVocê é um especialista em prestar todas as informações constantes na Base de conhecimento: Sobre a AAFCorsan"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        360,
        -140
      ],
      "id": "dc485189-ab11-4166-8aa0-ce039e39493f",
      "name": "Question and Answer Chain",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "topK": 12
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        400,
        120
      ],
      "id": "85560cd3-d70c-48f9-ad3e-f6db93d6aba7",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "id": "62ee4406-bc09-4522-8afe-2fe1218bd068",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "gB9CfngJMxArnys7",
          "name": "SB AAFC Automation"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        420,
        460
      ],
      "id": "43ca542c-f7fc-40bb-8192-c59e29632333",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "PoOUQmpuFM2NB1Ey",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        20,
        120
      ],
      "id": "dc8c8d68-fdb2-4c61-bd70-38eafa8d3749",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "PoOUQmpuFM2NB1Ey",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        280,
        80
      ],
      "id": "a32d79c5-f748-416e-b1a2-1ba5f16aa3f4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "PoOUQmpuFM2NB1Ey",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Chat Memory Manager": [
      {
        "json": {
          "messages": [],
          "messagesCount": 0
        }
      }
    ]
  },
  "versionId": "a29530d3-4b2f-41d4-ab44-9b8be18fc018",
  "triggerCount": 1,
  "tags": []
}