backup/O9ZXNH1iRtPUOb7F.json
{
  "createdAt": "2025-02-06T11:42:22.146Z",
  "updatedAt": "2025-02-06T13:41:53.597Z",
  "id": "O9ZXNH1iRtPUOb7F",
  "name": "BackupGithub",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1660,
        -680
      ],
      "id": "3539f608-eadf-47d8-8d65-42ca53af314b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1240,
        -680
      ],
      "id": "13a02ad0-820b-417d-8f6b-fb6e20682309",
      "name": "Get All",
      "credentials": {
        "n8nApi": {
          "id": "CJ1s8tWr5r0FyxRe",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Info').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Info').item.json.repository }}",
          "mode": "name"
        },
        "filePath": "=backup/ {{ $('Get All').item.json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1000,
        -800
      ],
      "id": "52fe3af0-02dd-4469-9120-465ea5c6797d",
      "name": "Get file",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "yHzX1MJBThAxu6RT",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f49bfdb-5206-4516-ada0-decfe00612be",
              "name": "owner",
              "value": "=ManusAafc",
              "type": "string"
            },
            {
              "id": "f5996393-64ce-42db-bc87-3ef0525417eb",
              "name": "repository",
              "value": "=n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        -680
      ],
      "id": "17f78bc6-472f-422f-8d8f-a42310247b0d",
      "name": "Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "776eec21-c1ce-443d-8f7f-b99ee685c213",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1000,
        -560
      ],
      "id": "2ad716fd-fad6-4a9c-910d-c2e111bab7f9",
      "name": "Workflow Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        -420
      ],
      "id": "de727a63-ce9f-4ee3-b537-b7795e065c7d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -780,
        -800
      ],
      "id": "f04c9ee4-b473-4494-adf7-cc0d24d954cc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -540,
        -700
      ],
      "id": "3b366daf-2065-466f-9b17-3c3d8ccbe7e0",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        -440
      ],
      "id": "76915784-067b-4707-8033-950e2e01fea1",
      "name": "Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Info').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Info').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=backup/{{ $('Workflow').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        80,
        -420
      ],
      "id": "b9dda3c0-0548-42c8-aa57-2b458655883b",
      "name": "Create File",
      "credentials": {
        "githubOAuth2Api": {
          "id": "yHzX1MJBThAxu6RT",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Get All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create File": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "50764599-b245-473f-8e93-ae208f211392",
  "triggerCount": 0,
  "tags": []
}